---
interface Props {
  quote: string
  author?: string
  source?: string
  lang?: string
}

const { quote, author = 'Anónimo', source, lang = 'es' } = Astro.props
---

<blockquote
  class={`
    custom-blockquote
    relative
    w-screen
    left-1/2 right-1/2
    -ml-[50vw] -mr-[50vw]
    border-y
    pt-6 pb-4 px-layout-px
    my-10
    not-prose
    bg-background/40 backdrop-blur-sm
  `}
>
  <div class="max-w-lg mx-auto px-4 xs:px-0">
    <p {lang} class="quote">
      <em>
        {quote}
      </em>
    </p>
    {
      source ? (
        <p class="author">
          — {author}, <em>{source}</em>
        </p>
      ) : (
        <p class="author">— {author}</p>
      )
    }
  </div>
</blockquote>

<style>
  .quote {
    @apply text-xl text-foreground/80;
  }
  .author {
    @apply text-accent-foreground text-right mb-0 text-sm;
  }
</style>
