---
import type { GetStaticPaths } from 'astro'
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets'

import { getFilteredPosts } from '@/lib/utils'

import Root from '@/layouts/Root.layout.astro'
import Main from '@/layouts/Main.layout.astro'
import Markdown from '@/layouts/Markdown.layout.astro'

import BackLink from '@/components/widgets/BackLink.astro'

import ArticleFooter from '@/components/article/ArticleFooter.astro'
import RelatedArticles from '@/components/article/RelatedArticles.astro'
import ArticleWidgets from '@/components/article/ArticleWidgets.astro'
import ArticleGoodbye from '@/components/article/ArticleGoodbye.astro'
import PageHeader from '@/components/view/PageHeader.astro'

export const getStaticPaths = (async () => {
  const articles = await getFilteredPosts('articles')

  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article }
  }))
}) satisfies GetStaticPaths

interface Props {
  article: CollectionEntry<'articles'>
}

const { article } = Astro.props
const { Content, headings } = await article.render()

const {
  data: { category, cover, lastModDate, pubDate, tags, title }
} = article
---

<Root>
  <Main class="pb-24">
    <ArticleWidgets {headings} {title} />
    <PageHeader title={title} subtitle="21 sep, 2024" subtitleDate={true}>
      {!cover ? null : <Image {...cover} alt={title} class="my-4" />}
    </PageHeader>
    <Markdown class="mb-16" id="article-content">
      <Content />
    </Markdown>
    <div id="end-of-article">
      <RelatedArticles {category} slug={article.slug} />
      <!-- <ArticleFooter
        lastUpdateDate={lastModDate ?? pubDate}
        imageCredits={cover?.credits}
        {category}
        {tags}
      /> -->
    </div>
  </Main>
</Root>
