---
import type { MarkdownHeading } from 'astro'

import Toc from '../widgets/toc'
import TocButton from '../widgets/toc/toc-button'
import ShareButton from '../widgets/share'
import LikeButton from '../widgets/like-bnt'

interface Props {
  headings: MarkdownHeading[]
  title: string
}

const { headings, title } = Astro.props

const totalHeadings = headings.length
---

{/* Desktop */}
<aside
  id="art-wid-dk-cont"
  class={`
    fixed left-0 right-0 top-32 hidden lg:block pointer-events-none
    data-[hidden=true]:opacity-0 transition-opacity duration-300
  `}
>
  <div class="max-w-screen-2xl mx-auto flex justify-between">
    {totalHeadings ? <Toc {headings} {title} /> : <div />}
  </div>
</aside>

{/* Mobile */}
<!-- <aside class="lg:hidden fixed left-0 right-0 bottom-0 z-10">
  <div
    id="art-wid-mb-cont"
    data-show="true"
    class={`
      max-w-xl rounded-t-lg mx-auto pt-2 pl-2 pr-3 pb-3
      flex items-center justify-between bottom-0 border bg-tooltip
      data-[show=true]:translate-y-0 data-[show=false]:translate-y-14
      data-[show=true]:opacity-100 data-[show=false]:opacity-0
      data-[show=true]:shadow data-[show=true]:shadow-black/10
      transition-all duration-300
    `}
  >
    {totalHeadings ? <TocButton {headings} client:load /> : <div />}
    <div>
      <ShareButton {title} url={Astro.url.href} isMobile />
    </div>
  </div>
</aside> -->

<script>
  import { $ } from '@/lib/dom'

  const artWidDkContElem = $('#art-wid-dk-cont')!
  const endOfArticleElem = $('#end-of-article')!

  const endOfArticleObserver = new IntersectionObserver(
    (entries) => {
      entries.forEach(({ isIntersecting }) => {
        artWidDkContElem.setAttribute('data-hidden', isIntersecting + '')
      })
    },
    {
      root: null,
      rootMargin: '0px',
      threshold: 1
    }
  )

  endOfArticleObserver.observe(endOfArticleElem)

  /* show & hide by scroll */
  /* const artWidMbCntElem = $('#art-wid-mb-cont')!

  let lastScrollPos = window.scrollX
  document.addEventListener('scrollend', () => {
    const currentScrollPos = window.scrollY

    const scrollPosDelta = lastScrollPos - currentScrollPos
    const isScrollingUp = scrollPosDelta >= 0

    lastScrollPos = currentScrollPos

    if (Math.abs(scrollPosDelta) < 60) return
    artWidMbCntElem.setAttribute('data-show', isScrollingUp + '')
  }) */
</script>
