---
import Link from '../ui/link'

interface Props {
  imageCredits?: string
  category: string
  tags: string[]
  lastUpdateDate: Date
}

const { imageCredits, category, tags, lastUpdateDate } = Astro.props

const modDate = lastUpdateDate.toLocaleDateString('es-ES', {
  day: '2-digit',
  month: 'short',
  year: 'numeric'
})
---

<footer>
  <h2 class="font-medium mb-4">Sobre este artículo</h2>
  <ul
    class="*:flex *:items-center *:justify-between space-y-2 text-muted-foreground text-sm"
  >
    {
      imageCredits && (
        <li>
          <span class="pr-4">Imagen</span>
          <span class="text-foreground line-clamp-1 text-right">
            {imageCredits}
          </span>
        </li>
      )
    }
    <li>
      <span class="pr-4">Publicado en</span>
      <span class="text-foreground text-right">
        {category}
        {
          /* <Link className="text-foreground" href={'/categories/' + category}
          >{category}</Link
        > */
        }
      </span>
    </li>
    <li>
      <span class="pr-4">Etiquetas</span>
      <span class="text-foreground flex gap-3 text-right">
        {
          /* <Link className="text-foreground" href={'/categories/' + tag}>
          {tag}
        </Link> */
        }
        {tags.map((tag) => <span>{tag}</span>)}
      </span>
    </li>
    <li>
      <span class="pr-4">Actualizado el</span>
      <time class="text-foreground text-right" datetime={modDate}
        >{modDate}</time
      >
    </li>
  </ul>
</footer>
